<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <title>List of Jobs</title>
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
    <!-- this is the fragments from job results -->

    <div th:fragment="job-results">

    <div th:each="job : ${jobs} ">
        <table class="table table-striped job-listing">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Employer</th>
                    <th>Location</th>
                    <th>Position Type</th>
                    <th>Skill</th>
                </tr>
            </thead>
            <tbody>
                <td th:text="${job.id}"></td>
                <td th:text="${job.employer}"></td>
                <td th:text="${job.location}"></td>
                <td th:text="${job.positionType}"></td>
                <td th:text="${job.coreCompetency}" style="text-align: center;"></td>
            </tbody>
        </table>
    </div>
    </div>
<!--    <div th:if="${jobs != null}">-->
<!--        <h2>Results</h2>-->
<!--        <div th:replace="this :: job-results"></div>-->
<!--    </div>-->

</div>
</body>
</html>